* {
    font-family: "Times New Roman", serif;
}

h1 {
    font-size: 26px;
}

body {
    text-align: center;
    background-color: rgb(245, 245, 245);
}

.recipes {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.card {
    max-width: 500px;
    min-width: 300px;
    height: 400px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    margin: 10px;
    display: inline-block;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

a {
    text-decoration: none;
    color: black;
}

img {
    width: 100%;
    border-radius: 5px 5px 0 0;
}
